{
  "presets": [
    [
      "@babel/preset-env",
      // https://stackoverflow.com/questions/42535270/regeneratorruntime-is-not-defined-when-running-jest-test
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
